 
{% extends "layout.html" %}
{% block content %}
    <div class="content-section">
    	<h2 class="about-heading">About The Blog</h2>

    	<pre>
    		<q class="about-content">I myself being a writer find it so intriguing 
    		when I see others express their thoughts in such
    		adorably beautiful ways. Writing is a therapy,an
    		a simple but an effecient kind of meditation.It
    		declutters your mind organizes your thoughts and
    		gets you out of a nebulous thought towards some
    		clear thinking.

    		It takes you to a different world.I myself am 
    		amazed when I write something and after a few
    		days, when I re-read it, I am the one to ask ,
    		'Did I really write this?'

    		So I would really want as much people to write ,
    		speak out and say whatever is there on their mind.

    		--Love,Hrituja
    		

    	</pre>	
    		
    	
    	
    </div>
{% endblock content %}